<section class="intro">
    <h1>Alert Settings</h1>
    <p>Change your alert/notification settings.</p>
</section>

<div class="widget-box">
    <div class="widget-header">
        Choose Option
    </div>

    <div class="widget-content">
        <ul class="settings">
            <li class="setting" data-ng-repeat="(settingId, setting) in settings" data-ng-class="{'current-setting': isUsersSetting(settingId), 'last': $last}" data-ng-click="saveSetting(settingId)">
                <div class="icon">
                    <i class="fa fa-cog" aria-hidden="true" data-ng-show="!isUsersSetting(settingId)"></i>
                    <i class="fa fa-check" aria-hidden="true" data-ng-show="isUsersSetting(settingId)"></i>
                </div>
                {{ setting }}
            </li>
        </ul>
    </div>

    <div class="widget-footer">
        <p class="warning">
            <strong>Warning:</strong><br />
            You may still get some notifications intended for the group, as set up by your system administrator.
        </p>
    </div>
</div>
