<section class="intro">
    <h1>Dashboard</h1>
    <p> Welcome to <a href="https://github.com/zsturgess/overwatch" target="_blank"><strong>Overwatch</strong></a>, an extensible PHP monitoring system.</p>
</section>

<div data-ng-show="shouldWarnOfTestAge()">
    <strong><i class="icon-warning"></i> Warning!</strong>
    Your tests haven't had a new result in a little while. The results may no longer be valid. You should check that the test runner is scheduled to run frequently. For more information, check <a href="https://github.com/zsturgess/overwatch/blob/master/app/Resources/docs/installing.md#running-the-tests" target="_blank">the installation instructions</a>.
</div>

<div class="groups">
    <div class="widget-box" data-ng-class="{'half-widget': groups.length > 1}" data-ng-repeat="group in groups">
        <div class="widget-header">
            {{ group.name }} (<i class="icon-users" data-ng-pluralize data-count="group.users.length" data-when="{'one': '1 user', 'other': '{} users'}"></i>)

            <span class="right">
                <a href="#/group/{{ group.id }}" title="Edit group '{{ group.name }}'" data-ng-show="isGranted('ADMIN', group)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                <a data-ng-click="removeGroup(group.id)" title="Delete group '{{ group.name }}'" data-ng-show="((group.tests.length + group.users.length === 0) && (isGranted('SUPER_ADMIN')))"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
            </span>
        </div>

        <div class="widget-content">
            <ul class="tests">
                <li data-ng-repeat="test in group.tests">
                    <div class="test">
                        <div class="status {{ test.result.status|lowercase }}"></div>

                        <h3>{{ test.name }} (Last Tested {{ test.result.createdAt|timeago }})</h3>
                        <p>Expect {{ test.actual }} {{ test.expectation }} {{ test.expected }}</p>

                        <div class="buttons">
                            <a class="btn btn-blue btn-small" data-ng-click="runTest(test.id)" title="Run test '{{ test.name }}' now" data-ng-show="isGranted('ADMIN', group)"><i class="fa fa-play" aria-hidden="true"></i> Run</a>
                            <a class="btn btn-grey btn-small" href="#/test/{{ test.id }}" title="View test '{{ test.name }}'"><i class="fa fa-eye" aria-hidden="true"></i> View</a>
                            <a class="btn btn-grey btn-small" href="#/test/{{ test.id }}/edit" title="Edit test '{{ test.name }}'"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit</a>
                            <a class="btn btn-red btn-small" data-ng-click="removeTest(test.id)" title="Delete test '{{ test.name }}'" data-ng-show="isGranted('ADMIN', group)"><i class="fa fa-trash-o" aria-hidden="true"></i> Delete</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div>
                        <a href="#/group/{{ group.id }}/add-test" title="Add test to group '{{ group.name }}'" data-ng-show="isGranted('ADMIN', group)" class="btn btn-grey"><i class="fa fa-plus"></i> Add test</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="row add-group">
        <a data-ng-click="createGroup()" title="Add a new group" data-ng-show="isGranted('SUPER_ADMIN')" class="btn btn-blue"><i class="fa fa-plus"></i> Add New Group</a>
    </div>
</div>
