<section class="intro">
    <h1>Manage Users</h1>
    <p>Here you can manager users in the system.</p>
</section>

<div class="widget-box">
    <div class="widget-header">
        Users
    </div>

    <div class="widget-content">
        <ul class="users">
            <li data-ng-repeat="user in users">
                <div class="user">
                    <div class="avatar {{ user.roles[0]|lowercase }}">
                        <img ng-src="{{ userAvatar(user.email, 100) }}" alt="" />
                    </div>

                    <h3 class="title">{{ user.email|uppercase }}</h3>
                    <span data-ng-show="(user.id === currentUserId)"><i class="icon-user"></i> It's you!</span>

                    <div class="buttons">
                        <span class="btn btn-blue btn-small" data-ng-click="updateRole(user.id)" title="Edit {{ user.email }}'s role" data-ng-hide="(user.id === currentUserId)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit Role</span>
                        <span class="btn btn-grey btn-small" data-ng-click="lockUser(user.id)" title="Lock '{{ user.email }}'" data-ng-hide="(user.id === currentUserId)">
                            <span data-ng-show="!user.locked"><i class="fa fa-lock" aria-hidden="true"></i> Lock</span>
                            <span data-ng-show="user.locked"><i class="fa fa-unlock-alt" aria-hidden="true"></i> Unlock</span>
                        </span>
                        <span class="btn btn-red btn-small" data-ng-click="removeUser(user.id)" title="Permanently delete '{{ user.email }}'" data-ng-hide="(user.id === currentUserId)"><i class="fa fa-user-times" aria-hidden="true"></i> Delete</span>
                    </div>
                </div>
            </li>
        </ul>


        <div class="row">
            <a data-ng-click="createUser()" title="Add a user" class="btn btn-grey"><i class="fa fa-user-plus" aria-hidden="true"></i> Register new user</a>
        </div>
    </div>

    <div class="widget-footer">
        <span class="user-key role_super_admin">Super Admin</span>
        <span class="user-key role_admin">Admin</span>
        <span class="user-key role_user">User</span>
    </div>
</div>
