<div class="dialog-bg">
    <div class="dialog">
        <h1>Pick a new role</h1>

        <div class="left-align">
            <p class="description">
                <strong>User</strong><br />
                Can only see tests in their groups. They cannot add, edit or delete tests.
            </p>

            <p class="description">
                <strong>Admin</strong><br />
                Can only see tests in their groups. They can add, edit or delete tests in their groups.
            </p>

            <p class="description">
                <strong>Super Admin</strong><br />
                Can see, add, edit and delete tests in any group, regardless of if they are part of that group. They can add, edit and delete groups and which users are part of those groups. They will only be notified of results for groups of which they are a member.
            </p>
        </div>

        <div class="row">
            <button class="btn btn-blue" data-ng-click="close('ROLE_USER')">User</button>
            <button class="btn btn-blue" data-ng-click="close('ROLE_ADMIN')">Admin</button>
            <button class="btn btn-blue" data-ng-click="close('ROLE_SUPER_ADMIN')">Super Admin</button>
        </div>

        <a class="btn btn-grey close-dialog" data-ng-click="close('CANCEL')"><i class="fa fa-times" aria-hidden="true"></i> Cancel</a>
    </div>
</div>
