<ul class="breadcrumbs">
    <li><a href="#/">Overwatch</a></li>
    <li>View Test '{{ test.name }}'</li>
</ul>

<h1>{{ test.name }}</h1>
<ul class="results">
    <li data-ng-repeat="result in test.results">
        <div class="result {{ result.status|lowercase }}">
            <span title="{{ result.status|lowercase|ucfirst }}: {{ result.info }}">{{ result.info|strLimit:90 }}</span>
            <a title="{{ test.result.createdAt*1000|date:'medium' }}">{{ test.result.createdAt|timeago }}</a>
        </div>
    </li>
    <li>
        <div>
            &nbsp;
            <a href="#/test/{{ test.id }}/edit" title="Rename this group"><i class="icon-pencil"></i> Edit test</a>
            <a data-ng-click="loadOlderResults()" title="Show older results" data-ng-show="(test.results.length === lastRequestedResultSize)"><i class="icon-test"></i> Show older results</a>
        </div> 
    </li>
</ul>