<section class="intro">
    <h1>View Test '{{ test.name }}'</h1>
</section>

<ul class="results">
    <li data-ng-repeat="result in test.results">
        <div class="result {{ result.status|lowercase }}">
            <span title="{{ result.status|lowercase|ucfirst }}: {{ result.info }}">{{ result.info|strLimit:90 }}</span>
            <a title="{{ result.createdAt*1000|date:'medium' }}">{{ result.createdAt|timeago }}</a>
        </div>
    </li>
    <li>
        <div>
            &nbsp;
            <a href="#/test/{{ test.id }}/edit" title="Edit test '{{ test.name }}'" data-ng-show="isGranted('ADMIN', group)"><i class="icon-pencil"></i> Edit test</a>
            <a data-ng-click="removeTest(test.id)" title="Delete test '{{ test.name }}'" data-ng-show="isGranted('ADMIN', group)"><i class="icon-test-minus"></i> Delete</a>
            <a data-ng-click="runTest(test.id)" title="Run test '{{ test.name }}' now" data-ng-show="isGranted('ADMIN', group)"><i class="icon-play"></i> Run</a>
            <a data-ng-click="loadOlderResults()" title="Show older results" data-ng-show="(test.results.length === lastRequestedResultSize)"><i class="icon-test"></i> Show older results</a>
        </div>
    </li>
</ul>
