<!DOCTYPE html>
<html data-ng-app="overwatch">
    <head>
        <meta charset="UTF-8" />
        <title>Overwatch</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{{ asset('css/main.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('css/custom.css') }}" />
        {% endblock %}
    </head>
    <body>
        <div id="loading" data-ng-show="isLoading">
            <div class="spinner">
              <div class="rect1"></div>
              <div class="rect2"></div>
              <div class="rect3"></div>
              <div class="rect4"></div>
              <div class="rect5"></div>
            </div>
        </div>
        <div id="container">
            <div id="sidebar">
                <header>
                    <h1><i class="icon-camera"></i><br />Overwatch</h1>
                </header>
                {% block sidebar %}{% endblock %}
                <footer>
                    <p>
                        <a href="https://github.com/zsturgess/overwatch" target="_blank"><strong>Overwatch</strong></a><br />
                        An extensible PHP monitoring system.
                    </p>
                    <p>
                        By <a href="https://github.com/zsturgess/overwatch/graphs/contributors" target="_blank">Zac Sturgess & Contributors</a>.<br />
                        Licensed under the <a href="https://raw.githubusercontent.com/zsturgess/overwatch/master/LICENSE" target="_blank">MIT License</a>.
                    </p>
                </footer>
            </div>
            <div id="page">
                <p class="user-nav icon-user"> {{ app.user|default('Please login') }}</p>
                {% block content %}{% endblock %}
            </div>
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
