.intro {
    background: #fff;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom: 1px solid #ccc;
    float: left;
    margin-bottom: 15px;
    padding: 15px;
    overflow: hidden;
    width: 100%;

    h1 {
        margin: 0;
        font-weight: normal;
        padding-bottom: 5px;
    }

    p {
        margin: 0;
        padding-left: 2px;
    }
}
