#loading {
    color: $white;
    font-size: 24px;
    left: 40%;
    position: absolute;
    top: 50%;
    z-index: 10;
    @include transform(translate(-50%, -50%));

    i {
        @include animation(spinRight 1.0s linear infinite);
        @include transform-origin(center center);
    }
}

@include keyframes(spinRight) {
    from {
        @include transform(rotate(0deg));
    }
    to {
        @include transform(rotate(360deg));
    }
}

.dialog-bg {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
}
.dialog {
    background: #dddddd;
    height:300px;
    left:50%;
    margin:-150px 0 0 -350px;
    padding: 0 15px 15px;
    position:absolute;
    top: 50%;
    width:700px;

    button {
        width: 30%;
    }
}
