#loading {
    color: $white;
    font-size: 24px;
    left: 40%;
    position: absolute;
    top: 50%;
    z-index: 10;
    @include transform(translate(-50%, -50%));

    i {
        @include animation(spinRight 1.0s linear infinite);
        @include transform-origin(center center);
    }
}

@include keyframes(spinRight) {
    from {
        @include transform(rotate(0deg));
    }
    to {
        @include transform(rotate(360deg));
    }
}
