.sidebar-nav {
    ul {
        li {
            position: relative;

            a {
                color: #C2C2C2;
                font-size: .95em;
                padding: 15px 20px;
                float: left;
                width: 100%;
                font-weight: 600;
                position: relative;

                span {
                    @media screen and (max-width: 620px) {
                        display: none;
                    }
                }

                i {
                    padding-right: 8px;
                    font-size: 1.3em;
                    color: #60636B;
                    text-align: center;
                    width: 25px;
                }

                &:after {
                    content: "";
                    display: inline-block;
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 12px 14px 12px 0;
                    border-color: transparent transparent transparent transparent;
                    position: absolute;
                    right: 0;
                    top: 50%;
                    @include transform(translateY(-50%));

                    @media screen and (max-width: 620px) {
                        display: none;
                    }
                }
            }

            &:hover, &.active {
                a {
                    background: $white;
                    color: #333333;

                    &:after {
                        border-color: transparent $mainbg transparent transparent;
                    }
                }
            }
        }
    }
}

// Header Nav
.header-nav {
    background: $primary;
    min-height: 64px;
    position: relative;
    z-index: 1;

    ul {
      height: 64px;
      float: right;

        li {
            float: left;
            padding: 12px;
            position: relative;

            &:first-child {
                border-left: none;
            }

            a {
                color: #fff;
                float: left;
            }
        }
    }

    .logged-in ul li:hover {
        background: #01A9F0;
        color: $white;
    }

    // Nav Profile
    .nav-profile {
        background: darken($primary, 14%);
        height: 64px;
        cursor: pointer;
        position: relative;
        @include transition(all .3s ease-in-out);

        &:hover {
            background: darken($primary, 16%);
        }

        .nav-profile-image {
            img {
                width: 39px;
                height: 41px;
                border-radius: 50%;
                float: left;
            }
        }

        .nav-profile-name {
            float: right;
            margin: 10px;
            color: #fff;
            @include user-select(none);

            @media screen and (max-width: 620px) {
                display: none;
            }

            i {
                padding: 0 0 0 10px;
            }
        }

        ul {
            background: $primary;
            position: absolute;
            top: 100%;
            height: auto;
            right: 0;
            width: 100%;

            @media screen and (max-width: 620px) {
                min-width: 200px;
            }

            li {
                float: none;
                display: block;
                padding: 0;
                width: 100%;

                a {
                    display: block;
                    padding: 14px 20px;
                    width: 100%;
                    @include transition(all .3s ease-in-out);
                }

                &:hover {
                    a {
                        background: darken($primary, 10%);
                    }
                }
            }
        }
    }
}
