# This file is a "template" of what your parameters.yml file should look like
parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     overwatch
    database_user:     root
    database_password: ~

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~
    mailer_from:       example@example.com


    # A secret key that's used to generate certain security-related tokens
    secret:            JustSmashYourKeyboardALittleUntilYouGetSomeRandomCharacters


    expectations_global_httpTimeout:                30
    expectations_global_permitHttpErrors:           false
    expectations_toPing_timeout:                    2
    expectations_toPing_unsatisfactory:             1
    expectations_toResolveTo_recordTypes:           ['A', 'AAAA', 'CNAME']
    expectations_toRespondHttp_allowableCodes:      [200, 201, 204, 206, 304]
    expectations_toRespondHttp_unsatisfactoryCodes: [301, 302, 307, 308]
    expectations_toContainText_crawlableTypes:      ['text/html', 'text/xml', 'application/xml', 'text/rss+xml', 'application/rss+xml', 'application/rdf+xml', 'application/atom+xml']


    resultReporters_email_enabled:                  true
    resultReporters_sms_enabled:                    false
    resultReporters_sms_twilio_accountSid:          ~
    resultReporters_sms_twilio_authToken:           ~
    resultReporters_sms_twilio_fromNumber:          ~
