{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
<ul class="breadcrumbs ng-scope">
    <li><a href="#/">Overwatch</a></li>
    <li>My Account</li>
</ul>

<h1>My Account</h1>

<div class="change-password">
    <h2>Change Password</h2>
    {% include "FOSUserBundle:ChangePassword:changePassword_content.html.twig" %}
</div>

<div class="api-access">
    <h2>API Access</h2>
    <form>
        <p>dfsdlkfjsdfjlksdjflk</p>
        <label>Your API Key is:</label>
        <input type="text" value="{{ app.user.apiKey }}">
        <button>Reset API Key</button>
    </form>
</div>
{% endblock fos_user_content %}
