{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
<ul class="breadcrumbs ng-scope">
    <li><a href="/">Overwatch</a></li>
    <li>My Account</li>
</ul>

<h1>My Account</h1>

<div class="change-password">
    <h2>Change Password</h2>
    {% include "FOSUserBundle:ChangePassword:changePassword_content.html.twig" %}
</div>

<div class="api-access">
    <h2>API Access</h2>
    <form>
        <p>For more information on the Overwatch REST API, please see the <a href="{{ path('nelmio_api_doc_index') }}" target="_blank">API documentation</a> and <a href="https://github.com/zsturgess/overwatch/blob/master/app/Resources/docs/api.md" target="_blank">API guide</a>.</p>
        <label>Your API Key is:</label>
        <input id="api-key" type="password" value="{{ app.user.apiKey }}">
        <p><a href="javascript:toggleAPIKeyVisibility();"><i class="icon-test"></i> Toggle API Key visibility</a></p>
        <p><a href="{{ path('overwatch_user_app_resetapikey') }}"><i class="icon-key"></i> Reset API Key</a></p>
        
    </form>
</div>
<script type='text/javascript'>
    function toggleAPIKeyVisibility() {
        var key = document.getElementById('api-key');
        var type = "password";
        
        if (key.getAttribute("type") === "password") {
            type = "text";
        }
        
        key.setAttribute("type", type);
    }
</script>
{% endblock fos_user_content %}
