header {
    background: #ffffff;
    float: left;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 10;

    .white-label {
        background: lighten($primary, 5%);
        position: relative;
        float: left;
        max-width: 210px;
        padding: 10px;
        min-height: 64px;
        width: 100%;
        max-height: 44px;
        text-align: center;
        z-index: 11;

        .logo {
            line-height: 44px;
        }
    }
}

main {
    background: $mainbg;
    float: left;
    padding: 64px 25px 10px;
    position: relative;
    width: 100%;
}

// Sidebar
.sidebar {
    background: $darkgrey;
    position: fixed;
    top: 64px;
    left: 0;
    bottom: 0;
    overflow: hidden;
    width: 210px;
}

// Footer
footer {
    position: absolute;
    bottom: 0;
    padding: 10px;
    color: #666666;
    font-size: 11px;
    line-height: 15px;
    z-index: 20;

    a {
        color: $grey;
    }
}
